In [118]:
import pandas as pd
import numpy as np
data = pd.read_csv('./data/data_earthquake.csv',low_memory = False)
data.drop(np.arange(0,10), axis = 0,inplace = True)
data.columns = ['NUM','YEAR','MONTH','DATE','UTC','IST','MW','Mw','MB','Mb','MS','ML','LAT','LONG','DEPTH','NLOCATION1','NLOCATION2','NLOCATION3','LOCATION','REF']
data.drop(['NUM','UTC','IST','MW','MB','Mb','MS','ML','NLOCATION1','NLOCATION2','NLOCATION3','LOCATION'],axis = 1, inplace = True)
data['YEAR'].fillna(0)
data['MONTH'].fillna(0)
data['DATE'].fillna(0)
data['DEPTH'].fillna(0)
temp = pd.to_numeric(data.YEAR.astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
data['YEAR'] = temp
temp = pd.to_numeric(data.MONTH.astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
data['MONTH'] = temp
temp = pd.to_numeric(data.DATE.astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
data['DATE'] = temp
temp = pd.to_numeric(data.DEPTH.astype(str).str.replace(',',''), errors='coerce').fillna(0).astype(int)
data['DEPTH'] = temp

data['REF'].fillna('NONE',inplace = True)

# all_loc = pd.notnull(data['LOCATION'])
all_lat = pd.notnull(data['LAT'])
all_long = pd.notnull(data['LONG'])
data_avail = pd.notnull(data['Mw'])

all_lat_long = all_lat & all_long
to_be_considered = all_lat_long & data_avail
data = data[to_be_considered]

data['Mw'].fillna('0',inplace=True)

In [119]:
data.index = np.arange(0,50485)
data.dtypes

YEAR      int64
MONTH     int64
DATE      int64
Mw       object
LAT      object
LONG     object
DEPTH     int64
REF      object
dtype: object

In [120]:
METAVAL = 43

temp = []
for val in data['Mw']:
    sdot = 0
    np = 0
    for j in val:
        if (j>='0' and j<='9'):
            continue
        elif (sdot == 0 and j == '.'):
            sdot = 1
        else:
            np = 1
            break;
    nuval = 0
    if np == 1:
        nuval = 0
    else:
        value = round(float(val),1)
        value = int(value*10)
        nuval = value
    if nuval>METAVAL:
        nuval = 1
    else:
        nuval = 0
    temp.append(nuval)
data['Mw'] = pd.Series(temp)
data.dtypes

YEAR      int64
MONTH     int64
DATE      int64
Mw        int64
LAT      object
LONG     object
DEPTH     int64
REF      object
dtype: object

In [121]:
temp = []
for val in data['LAT']:
    sdot = 0
    np = 0
    for j in range(len(val)):
        k = val[j]
        if (k>='0' and k<='9'):
            continue
        elif (sdot == 0 and k == '.'):
            sdot = 1
        else:
            np = 1
            break;
    curval = val[:j]
    if len(curval) == 0:
        temp.append(0)
        continue
    value = round(float(curval),1)
    value = int(value*10)
    temp.append(value)
data['LAT'] = pd.Series(temp)
temp = []
for val in data['LONG']:
    sdot = 0
    np = 0
    for j in range(len(val)):
        k = val[j]
        if (k>='0' and k<='9'):
            continue
        elif (sdot == 0 and k == '.'):
            sdot = 1
        else:
            np = 1
            break;
    curval = val[:j]
    if len(curval) == 0:
        temp.append(0)
        continue
    value = round(float(curval),1)
    value = int(value*10)
    temp.append(value)
data['LONG'] = pd.Series(temp)

import json

REFERERS = set(data['REF'])
MAP_REF_TO_NUM = {}
ctr = 0

for i in REFERERS:
    MAP_REF_TO_NUM[i] = ctr
    ctr += 1

with open('./data/referers.json','w') as fp:
    json.dump(MAP_REF_TO_NUM, fp)
    
nuref = []
for val in data['REF']:
    nuref.append(MAP_REF_TO_NUM[val])
data['REF'] = pd.Series(nuref)
data.dtypes

YEAR     int64
MONTH    int64
DATE     int64
Mw       int64
LAT      int64
LONG     int64
DEPTH    int64
REF      int64
dtype: object

In [122]:
data

       YEAR  MONTH  DATE  Mw  LAT  LONG  DEPTH  REF
0     -2474      0     0   1   70    20      0    3
1      -325      0     0   1   70    20      0    3
2        25      0     0   1  720   337      0    3
3        26      5    10   1  170   800      0   12
4        26      5    10   1   20    90     80    8
...     ...    ...   ...  ..  ...   ...    ...  ...
50480  2019      7    28   0  328   784     10    9
50481  2019      7    28   0  255   904     70    9
50482  2019      7    28   0  232   865     22    9
50483  2019      7    29   0  328   764     20    9
50484  2019      7    31   0  200   728     10    9

[50485 rows x 8 columns]

In [123]:
data.to_csv('./data/preprocessed.csv')

In [124]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import joblib
from sklearn.tree import export_graphviz

X = data.drop(columns = 'Mw')
Y = data['Mw']

In [125]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3,random_state = 1)

In [126]:
model_decision_tree = DecisionTreeClassifier()
model_decision_tree.fit(X_train,Y_train)

DecisionTreeClassifier()

In [127]:
joblib.dump(model_decision_tree,'./data_models/DecisionTree.joblib')

['./data_models/DecisionTree.joblib']

In [128]:
Y_pred = model_decision_tree.predict(X_test)

In [129]:
ctr = 0
i = 0
for true_value in Y_test:
    predicted_value = Y_pred[i]
    if predicted_value == true_value:
        ctr+=1
    i += 1
tot = i
accuracy = ctr/tot
print(accuracy)
score = accuracy_score(Y_test, Y_pred)
print(score)

0.6449887759144328
0.6449887759144328

In [130]:
Y_test

5083     1
35775    1
24243    0
45091    1
28253    0
        ..
17784    0
14791    1
249      0
42922    1
47444    1
Name: Mw, Length: 15146, dtype: int64

In [112]:
Y_pred

array([44, 43, 39, ..., 42, 49, 44])